body {
	font-family: serif;
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
}

h1 {
	color: #ffffff;
	font-size: 56px;
}

p {
	color: #ffffff;
	font-size: 2em;
}

.container {
	background-image: url("https://www.z4a.net/images/2021/10/25/roses-tremieres-hollyhocks-1884.jpg");
}
