body {
	font-family: serif;
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
}

h1 {
	color: #ffffff;
	font-size: 56px;
}

p {
	color: #ffffff;
	font-size: 2em;
}

.container {
	background-color: #00FFAA;
	background-image: url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
	background-size: cover;
}

.nav {

}

.main {
	
}
