body {
	font-family: serif;
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
	background-image: url("https://www.z4a.net/images/2021/10/25/7a28bd1agw1f4963vci20j20xc140k1f.jpg");
	background-attachment: fixed;
	background-color: #00FFAA;
	background-repeat:no-repeat;
	background-size: cover;
}

h1 {
	color: #ffffff;
	font-size: 56px;
}

p {
	color: #ffffff;
	font-size: 2em;
}

.container {
	
}

.nav {

}

.main {
	
}
